<div class="span2">
<%if (@partido.monto_que_puedo_apostar_en_el_marcador(i,j) >= current_user.pezzos_que_apuesta || @partido.monto_total_apostado < 50000) && @partido.cerrado==false %>
        <%= form_for([@partido, @partido.bets.build]) do |f| %>
            <%= f.hidden_field :monto, value: current_user.pezzos_que_apuesta%>
            <%= f.hidden_field :golesLocal, value: i%>

            <%= f.hidden_field :golesVisitante, value: j%>
            <%= f.hidden_field :user_id, value: current_user.id%>
            <%if @partido.xveces_el_resultado(i,j,current_user.pezzos_que_apuesta)>=0 && @partido.xveces_el_resultado(i,j,current_user.pezzos_que_apuesta)<4%>
              <button class= "btn btn-block btn-mini btn-danger"> 
                <h2><%= "#{i} - #{j}"%></h2>
                <h2 class="lead"><%="#{@partido.xveces_el_resultado(i,j,current_user.pezzos_que_apuesta).round(3)}x"%></h2> 
                <% f.submit ""%>
              </button>
            <%end%>

            <%if @partido.xveces_el_resultado(i,j,current_user.pezzos_que_apuesta)>=4 && @partido.xveces_el_resultado(i,j,current_user.pezzos_que_apuesta)<8%>
              <button class= "btn btn-block btn-mini btn-warning"> 
                <h2><%= "#{i} - #{j}"%></h2>
                 <h2 class="lead"><%="#{@partido.xveces_el_resultado(i,j,current_user.pezzos_que_apuesta).round(3)}x"%></h2> 
                <% f.submit ""%>
              </button>
            <%end%>

            <%if @partido.xveces_el_resultado(i,j,current_user.pezzos_que_apuesta)>=8 || @partido.xveces_el_resultado(i,j,current_user.pezzos_que_apuesta)== -1%>
              <button class= "btn btn-block btn-mini btn-success"> 
                <h2><%= "#{i} - #{j}"%></h2>
              <h2 class="lead"><%="#{@partido.xveces_el_resultado(i,j,current_user.pezzos_que_apuesta).round(3)}x"%></h2>    
                <% f.submit ""%>
              </button>
            <%end%>
        <%end%>
  <%else%>
        <button class= "btn btn-block btn-mini disabled"> 
          <h2><%= "#{i} - #{j}"%></h2>  
          <h2 class="lead"><%="#{@partido.xveces_el_resultado(i,j).round(3)}x"%></h2> 
        </button>
  <% end %>
</div>