<div class= "header-title">
  <div class="container">
    <div class="row">
      <div class="span8 offset1">
        <h3>PARTIDOS</h3>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
   <div class="span7s offset1">
      <hr>
      <% @partidos.each do |partido| %>
              <div class="row">
                <div class="span7 muted">

                  <h6> <%=partido.diapartido.strftime("%d de %B")%> <%=partido.diapartido.strftime("%l:%M %p")%> </h6>
                </div>
                <div>
                  <div class="span1 partidos-equipos-loca">
                    <%= image_tag partido.logolocal, {:class => "", :width=>"50"}%> 
                  </div>
                  <div class="span1 partidos-equipos-local">
                    <%= partido.local %> 
                  </div>
                  <div class="span0">
                     <strong class="muted">vs</strong> 
                  </div>
                  <div class="span1 partidos-equipos-visitante">
                    <%= partido.visitante %> 
                  </div>
                  <div class="span1">
                    <%= image_tag partido.logovisitante, {:class => "", :width=>"50"}%>
                  </div>
                  <div class="span3">
                    <%= link_to  partido_path(partido) do %>
                    <%=image_tag "partidos/btnJUEGA_partidos.png"%>
                    <%end%>
                        <% if current_user.administrator==true %>
                        <%= link_to t('edit', :default => t("helpers.links.edit")),
                                    edit_partido_path(partido), :class => 'btn btn-mini' %>
                        <%= link_to t('destroy', :default => t("helpers.links.destroy")),
                                    partido_path(partido),
                                    :method => :delete,
                                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                                    :class => 'btn btn-mini btn-danger' %>
                        <% end %>
                  </div>
                </div>
              </div>
            
          
          <hr>
      <%end%>
    </div>
    <div class="span3 well well-mini partidos-ranking pull-right">
      <%= image_tag "partidos/tituloMiRanking.png"%>
      <table class="table">
        <thead>
          <tr>
            <th>#</th><th>Nombre</th><th>pezzos</th>
          </tr>
        </thead>
        <tbody>
          <%count = 1 %>
          <%@user_ranking.each do |user|%>
            <tr>
              <td><%=count%></td><td><%=user.name%></td><td><%= user.pezzos%></td>
            </tr>
            <%count +=1%>
          <%end%>
        </tbody>
      </table>
      <%= link_to "ver mas", users_path%>
    </div>
  </div>
</div>

<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Collapsible Group Item #1
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        Anim pariatur cliche...
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Collapsible Group Item #2
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        Anim pariatur cliche...
      </div>
    </div>
  </div>
</div>

