<div class= "header-title">
  <div class="container">
    <div class="row">
      <div class="span8 offset1">
        <h3>JUEGA POR TU MARCADOR</h3>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="partido-fecha span12">
      <h4> <%=@partido.diapartido.strftime("%d de %B")%> </h4>
      <h6 class="muted"> <%=@partido.diapartido.strftime("%l:%M %p")%></h6>
    </div>
    <div class="span3 offset3 logo">
      <%= image_tag @partido.logolocal, {:class => "", :width=>"200x200"}%>
      <div>
          <h2 class="lead"> <%=@partido.local%></h2>      
          <h6 class="muted">Local</h6>
      </div>
    </div>
    <div class="span3 logo">
      <%= image_tag @partido.logovisitante,{:class => "", :size=>"200x100"}%>
      <div>
        <h2 class="lead"> <%=@partido.visitante%></h2>
        <h6 class="muted"> Visitante</h6>
      </div>
    </div>
  </div>
</div>

<%=render "monto_a_apostar"%>
<%=render "matriz_apuestas"%>
