<div class="container">
  <div class="row">
    <div class="span12">


<div class="row">
  <div class="span4 offset2 logo">
    <%= image_tag @partido.logolocal, {:class => "", :width=>"200x200"}%>
    <div><h2> <%=@partido.local%></h2></div>
  </div>
  <div class="span4 logo">
    <%= image_tag @partido.logovisitante,{:class => "", :size=>"200x100"}%>
    <div><h2> <%=@partido.visitante%></h2></div>
  </div>
</div>
<div class="vs"><h2 class="muted">vs</h2></div>

<%= render  "matriz_apuestas"%>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),partidos_path, :class => 'btn'  %>
  <% if current_user.administrator==true %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_partido_path(@partido), :class => 'btn' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),partido_path(@partido),
                    :method => 'delete',:data => { :confirm => t('.confirm', 
                    :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-danger' %>
  <% end %>
</div>
   </div>
  </div>
</div>