

<div class= "header-title">
  <div class="container">
    <div class="row">
      <p>
      <div class="span6 fuenteFuturaB titulo-blanco">
        <h3><span class="offset1">MÉTRICAS</div></h3>
      </div>
    </div>
  </div>
</div>
<p>
<div class="row BTSinEspacio offset2">
<p><span class="badge">1.</span> Número de usuarios registrados:
<%= @numeroUsuarios=User.count %>
</p>
<p><span class="badge">1.5</span> Número de apuestas registradas:
<%= @numeroBets=Bet.all.count %>
</p>
<p><span class="badge">2.</span> Número de invitaciones por usuario:
<%= @numeroInvitacionesPromedio=User.average(:invitation_number) %>
</p>
<p><span class="badge">3.</span> Total de usuarios referidos (aceptaron la invitación):
<%= @numeroUsuariosReferidos=User.where('invitation_id  IS NOT NULL').count %>
</p>
<p><span class="badge">4.</span> Conversion Rate Referidos:
<% @numeroInvitacionesTotal=User.sum(:invitation_number) %>
<% if @numeroInvitacionesTotal==0%>
<%= @conversionRate=0 %>
<%else%>
<%= @conversionRate=@numeroUsuariosReferidos/@numeroInvitacionesTotal*100 %>%
<%end%>
</p>
<p><span class="badge">5.</span> Número de Visitas (login) Promedio por usuario:
<%= @numeroVisitasPromedio=User.average(:visits_number) %>
</p>

<p><span class="badge">6.</span> Número de Post promedio por usuario:
<%= @numeroPostsPromedio=User.average(:post_on_fb) %>

<p><span class="badge">7.</span> Tiempo promedio en aceptar invitación:
<%= @tiempoPromedioEnAceptar=Invitation.average(:demora) %> days

<p><span class="badge">8.</span> Edad promedio:
<%= @usuariosConEdad=User.average(:age)%> years

<p><span class="badge">9.</span> Número de Apuestas Promedio por usuario:
  <%= @numeroApuestasPromedio=User.average(:bets_number) %>
</p>

<p><span class="badge">10.</span> Usuarios que apostarian: <%= @usuarios_que_apostarian%> / Total de usuarios que respondieron: <%= @usuarios_que_apostarian_total%> / % = <%= @usuarios_que_apostarian_porcentaje%>
</p>


                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseFour">
                      Usuarios que no participan
                    </a>
                  </div>
                  <div id="collapseFour" class="accordion-body collapse in">
                    <div class="accordion-inner">
   
<p><span class="badge">A.</span> Usuarios que no han apostado:
<%= @usuariosQueNoApuestan=User.where(:bets_number =>0).count%>
<% @usuariosQueNoApuestan=User.where(:bets_number =>0)%>
<%  @usuariosQueNoApuestan.each do |user|%>
<p><%= user.name %></p>
<%end %>
</p>
<p><span class="badge">B.</span> Usuarios que no han invitado amigos:
<%= @usuariosQueNoInvitan=User.where(:invitation_number =>0).count%>
<% @usuariosQueNoInvitan=User.where(:invitation_number =>0)%>
<%  @usuariosQueNoInvitan.each do |user|%>
<p><%= user.name %></p>
<%end %>
</p>


                    </div>
                  </div>
                </div>

                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                      Métricas Partidos
                    </a>
                  </div>
                  <div id="collapseThree" class="accordion-body collapse">
                    <div class="accordion-inner">
<p><span class="badge badge-important">F X. </span> Total de Apuestas por partido: 
</p>
<p><span class="badge badge-important">F X. </span> Total de Usuarios Apostando por partido: 
</p>
<p><span class="badge badge-important">F X. </span> Monto promedio apostado por partido: 
</p>
<p><span class="badge badge-important">F X. </span> Marcador más apostado en un partido: 
</p>
                    </div>
                  </div>
                </div>


              </div>

</div>
