<div class="span9">
<p class= "lead">Hola <strong><%=@user.name%></strong>!</p>
<p>tienes <strong><%=@user.pezzos%></strong> pezzos     / ACTUALMENTE ESTAS EN LA POSICION <strong><%=@user.position%></strong> DEL RANKING</p>
<%= link_to  new_invitation_path do%>
	<%= image_tag "user/btnGanarPezzos_menu.png"%>
<%end%>
</div>