<div class="span9 BTSinEspacio">
<p class= "lead"><font face="FUTURAB" color="#005798"><%=@user.name%></font>!</p>
<p><font face="FUTURAB" color="#005798">TIENE </font><font size="18" face="digital7" color="ffd200"><%=@user.pezzos%></font> <font face="FUTURAB" color="#005798">PEZZOS</font>     / ACTUALMENTE ESTÁ EN LA POSICIÓN <strong><font size="18" color="#005798"><%=@user.position%></font></strong> DEL RANKING</p>
<%= link_to  new_invitation_path do%>
	<%= image_tag "user/btnGanarPezzos_menu.png"%>
<%end%>
</div>
<font face="Futura Book BT">