<div class= "header-title">
  <div class="container">
    <div class="row">
      <div class="span6 fuenteFuturaB titulo-blanco">
        <p> <p>
        <h3><%=image_tag "ranking/btn_rankingTitulos.png"%>JUGADORES</h3>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row centro">
    <%= will_paginate %>
    <div class="span6 offset3 BTSinEspacio partidos-ranking">
      
  <table class="table">
    <thead>
      <tr>
        <th>Posición</th><th>Nombre</th><th>Pezzos</th><th># Apuestas</th>
      </tr>
    </thead>
    <tbody>
      <%count = @page %>
      <%@users.each do |user|%>
        <tr>
          <td>
            <%=count%>
          </td>
          <td>
            <div class="jugador">
              <%=image_tag user.facebook.get_picture(user.uid, {type: "square"}), {:class=> "", :width=>"30"}%>  <%=link_to user.name, user%></span></td><td><%= number_to_currency(user.pezzos,:precision => 0)%></td><td><%= user.bets.count%></td>
            </div>
        </tr>
        <%count +=1%>
      <%end%>
    </tbody>
  </table>
  
</div>
<%= will_paginate %>
  </div>
</div>
<div class= "header-title2">
  <div class="container">
    <div class="row">
      <p>
      <div class="span6 fuenteFuturaB titulo-blanco">

        <h3><div class="">PREMIOS</div></h3>
      </div>
    </div>
  </div>
</div>

<div class="fondoPremios">
  <div class="centro">
    <div class="areaPremios">
    </div>
    <font color="white" face="FUTURAB" size="4">PREMIOS MES DE MARZO</font>
      <p><font color="white" face="Futura Book BT">¡Acumula la mayor cantidad de Pezzos jugando por tus equipos favoritos e invitando amigos y gana fabulosos premios cada mes!
    </font></p>
    <div class="areaPremios">
  <%=image_tag "ranking/1er_premios.png", {:class => "", :width=>""}%> 
  <%=image_tag "ranking/2do_premios.png", {:class => "", :width=>""}%> 
  <%=image_tag "ranking/3er_premios.png", {:class => "", :width=>""}%> 
  <%=image_tag "ranking/4to5to_premios.png", {:class => "", :width=>""}%> 
  </div>
</div>
</div>
