<div class="contenedor">
<div id="myCarousel" class="carousel slide">

  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
<%=image_tag "landing/banner/bannerImagen_1.jpg", {:class => "", :width=>""}%> 
    </div>
    <div class="item">
<%=image_tag "landing/banner/bannerImagen_2.jpg", {:class => "", :width=>""}%> 
    </div>
    <div class="item">
<%=image_tag "landing/banner/bannerImagen_3.jpg", {:class => "", :width=>""}%> 
    </div>
        <div class="item">
<%=image_tag "landing/banner/bannerImagen_4.jpg", {:class => "", :width=>""}%> 
    </div>
        <div class="item">
<%=image_tag "landing/banner/bannerImagen_5.jpg", {:class => "", :width=>""}%> 
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<div class="fondoPremios">
  <div class="centro fuenteFuturaB">
  	<div class="areaPremios"></div>
  	<%=image_tag "landing/pasos_titulo.png", {:class => "", :width=>"450"}%> 
    <div class="areaPremios">
  <table class="blanco span6 offset3">
    <tbody>
  <tr>
    <td>
      <%=image_tag "landing/pasos_icono1.png", {:class => "", :width=>"200"}%> 
    </td>
    <td>
      <%=image_tag "landing/pasos_icono2.png", {:class => "", :width=>"200"}%> 
    </td>
    <td>
      <%=image_tag "landing/pasos_icono3.png", {:class => "", :width=>"200"}%> 
    </td>
  </tr>
  <tr>
    <td>PAZZO 1</td><td>PAZZO 2</td><td>PAZZO 3</td>
  </tr>
</tbody>
  </table>
    
  </div>
  <div class="areaPremios"></div>
  <div class="areaPremios"></div>
  <div class="areaPremios"></div>
  <div class="areaPremios"></div>
  <div class="areaPremios"></div>
  <div class="areaPremios"></div>
  <div class="areaPremios"></div>
  </div>
</div>

<div class="fondoPartidosLanding">
	<%=image_tag "landing/partidos/partido_titulo.png", {:class => "tituloS", :width=>""}%> 
  <div class="centro fuenteFuturaB">
  	
  	
    <div class="areaPremios">
    
  	<%=image_tag "landing/partidos/partido_equiposImportantes.png", {:class => "", :width=>"550"}%> 
  
  	 
  
  </div>
  <div class="areaPremios"></div>
  
  
  </div>
</div>
 

<div class="fondoPremios">
	
	<%=image_tag "ranking/premios_titulo.png", {:class => "tituloS", :width=>""}%> 

  <div class="centro">
  	<p><font color="white" face="Futura Book BT">¡Acumula la mayor cantidad de Pezzos jugando por tus equipos favoritos e invitando amigos y gana fabulosos premios cada mes!
  	</font></p>
    <div class="areaPremios">
  <%=image_tag "ranking/1er_premios.png", {:class => "", :width=>""}%> 
  <%=image_tag "ranking/2do_premios.png", {:class => "", :width=>""}%> 
  <%=image_tag "ranking/3er_premios.png", {:class => "", :width=>""}%> 
  <%=image_tag "ranking/4to5to_premios.png", {:class => "", :width=>""}%> 
  </div>
  <div class="areaPremios"></div>
  <div class="areaPremios"></div>
  <div class="areaPremios"></div>
  <div class="areaPremios"></div>
  </div>
</div>

   <div class="botonFacebook">
   	
   	<font color="white" face="FUTURAB" size="4">TIENES</font>
   	<font color="orange" face="FUTURAB" size="5">50.000</font>
   	<font color="white" face="FUTURAB" size="4">PEZZOS GRATIS</font><P>
		<%= link_to "/auth/facebook" do%>
		 <%= image_tag ('Call/btnCall.png')  %>
		 <% end -%>
  </div>
  </div>
