<div class="contenedor">
<%= image_tag "secciones/pasos1.png"%>
<%= image_tag "secciones/partido2.png"%>
  <div id="apDiv2"><%= image_tag "secciones/premios3.png"%>
   <div class="botonFacebook">

<%= link_to "/auth/facebook" do%>
 <%= image_tag ('Call/btnCall.png')  %>
 <% end -%>
  </div>
  </div>
</div>
