<div class="about">
	<div class="about_titulo">
		AMIGOS DE FACEBOOK EN GOLAZZOS
	</div>
	<div class="about_content">
		<div class="ro">
			<% @friends.each  do |friend| %>
				<%user = User.find_by_uid(friend["id"])%>
				<%if user.nil? %>
					<!-- el usuario no existe -->

				<%else%>
					<div class= "friendship-amigo-facebook">
						<div class="friendship-foto-facebook">
							<%=image_tag current_user.facebook.get_picture(user.uid, {type: "square"}), {:class=> "thumbsail", :width => "40px"}%>
						</div>
						<div class="friendship-nombre-facebook">
								<h5> <%=h user.name%></h5>
						</div>
						<div class="friendship-seguir-facebook">
							<%  if !current_user.friendships.find_by_friend_id(user.id) %>
								<button class="btn btn-primary">
									<%= link_to "Seguir", friendships_path(:friend_id => user), :method => :post%>
								</button>
							<%else%>
								<button class="btn btn-danger">
									<%= link_to "remove", current_user.friendships.find_by_friend_id(user.id), :method => :delete %>
								</button>
							<%end%>
						</div>

					</div>
					<hr/>
				<%end%>
			<%end%>
		</div>
		<%= link_to 'Anterior', url_for(:page => @friends.previous_page_params) %>
		<%= link_to 'Siguiente', url_for(:page => @friends.next_page_params) %>
	</div>
</div>
