<div class= "header-title">
  <div class="container">
    <div class="row">
      <p>
      <div class="span6 fuenteFuturaB titulo-blanco">
        <h3><span class="offset1">GANA MÁS PEZZOS</div></h3>
      </div>
    </div>
  </div>
</div>

<div class="container">
<div class="row BTSinEspacio">
  <div class="span5 offset2 ">

<p><strong>1. INVITANDO AMIGOS:</strong>
<table class="table partidos-ranking">

    <tbody>
        <tr>
          <td>10 amigos</td><td>recibes 20.000 PEZZOS</td>
        </tr>
        <tr>
        <td>20 amigos</td><td>recibes 50.000 PEZZOS</td>
        </tr>
        <tr>
        <td>30 amigos</td><td>recibes 125.000 PEZZOS</td>
        </tr>
        <tr>
        <td>40 amigos</td><td>recibes 300.000 PEZZOS</td>
        </tr>
        <tr>
        <td>50 amigos</td><td>recibes 750.000 PEZZOS</td>
        </tr>
        
    </tbody>
  </table>

<!-- Button to trigger modal -->
<p><a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal">Invitar a un amigo</a>
<hr>
<p><strong>2. AMIGOS REFERIDOS</strong>
<table class="table partidos-ranking">

    <tbody>
        <tr>
          <td>Si aceptan antes de 24 horas</td><td>recibes 50.000 PEZZOS</td>
        </tr>
        <tr>
        <td>Si aceptan entre 24 y 48 horas</td><td>recibes 20.000 PEZZOS</td>
        </tr>
        <tr>
        <td>Si aceptan después de 48 horas</td><td>recibes 0 PEZZOS</td>
        </tr>
        
        
    </tbody>
  </table>

<!-- Button to trigger modal -->
<p><a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal">Invitar a un amigo</a>
<hr>
<p><strong>3. POSTEANDO EN TU MURO</strong>

<p>Por Publicar el Post recibes: 10,000 Pezzos


<p><%= link_to "Postear", @linkwallpost , :class =>"btn btn-primary"%>
<hr><p><strong>4. APOSTANDO</strong>

<p>Por cada apuesta que realices recibes 5000 pezzos

<p><%= link_to "Apuesta ya", '/partidos/' , :class =>"btn btn-primary"%>
</div>
</div>
</div>
    
  

 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Invita a un amigo a Golazzos</h3>
  </div>
  <div class="modal-body">
    <p>

<% @user = User.find(session['user_id'])%>
<% @connections2 = @user.facebook.get_connections("me","friends")%>

<%= form_for (@invitation) do |f| %>
  <p>
    
    <% @connections2.each do |connection2| %>
    <p>
  <%= @amigo=User.find_by_uid(connection2["id"])%>
  <% if @amigo == nil%>
         
  <%= check_box_tag 'invited_uids[]', connection2["id"] -%>
  <%= image_tag"http://graph.facebook.com/"+connection2["id"]+"/picture"%>
  <%= h connection2["name"] -%>
      
  
  <% connection2["name"]%>
  <%end%>
    </p>
    <% end %>
    </p>
  </div>
  <div class="modal-footer">
      <p><%= f.submit "Invite!" , :class => 'btn btn-primary'%></p>
  <% end %>
  </div>
</div>