<div class="container activities-home">
	<div class="row">
		<div class="span3">
			<%= render "activity_perfil"%>
			<%= link_to "Agrega amigos!", friendships_path, {:class=> "btn btn-block"}%>
			<%= render "activity_amigos"%>	
		</div>
		<div class="span6">
			<%= render "activity_noticias"%>
		</div>
		<div class="span3">
			<%= render "activity_partidos"%>
		</div>
	</div>	 
</div>