<div class="navbar navbar-fixed-top">
  <div class="navbar-inner ">
    <div class="container fuenteFuturaBookBT">
      <div class="brand" ><%= image_tag ('Menu/menu_logo.png')  %></div>
      <ul class="nav">
        <li><%= link_to partidos_path do%>
            <%=image_tag "Menu/iconoPartidosMenu.png", {:class => "", :height=>"20"}%> PARTIDOS
            <%end%>
        </li>
        <li><%if current_user %>
                <%= link_to user_path(current_user) do%>| 
                    <%=image_tag "Menu/iconoPerfilMenu.png", {:class => "", :height=>"20"}%> MI CUENTA      
                <%end%>
            <%end%>
        </li>

        <li><%= link_to users_path do%>| 
            <%=image_tag "Menu/iconoRankingMenu.png", {:class => "", :height=>"20"}%> RANKING
            <%end%>
        </li>
      </ul>
      <ul class= "nav pull-right">
        <% if current_user %>
            
           
        <% else %>
            <li>
            <%= link_to "/auth/facebook" do%>
            <%= image_tag ('Menu/menu_btnRegistro.png')  %>
            <% end -%>
            </li> 
        <% end %>
      </ul>
    </div>
  </div> 
</div>